div {
  position: absolute;
  width: fit-content;
  height: 50vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100px;
  height: 50px;

  border-radius: 10px;
  border: 1pxs solid lightgray;
  background-color: white;
}

button:hover {
  cursor: pointer;
}
